.navbar {
  .icon-container {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: #333;
    border-radius: 50px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    position: fixed;
  
  
  }
  
  .icon-box {
    color: white;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
  
  }
  
  .icon-box a {
    color: #fff;
    font-size: 24px; 
    margin: 5px 0; 
    &:hover {
      color: #ff1da7; 
    }
  }
  @media (max-width: 768px) {

    .icon-container {
      position: relative; 
      top: initial;
      right: initial;
      transform: none;
      flex-direction: row; 
      background-color: #333; 
      border-radius: 0; 
      margin-bottom: 0;
      padding: 0;
      display: flex;
    }

    .icon-box {
      margin-bottom: 0;
      display: flex; /* Muestra los íconos uno debajo del otro en versiones móviles */
    }

    .icon-box a {
      font-size:54px; /* Ajusta el tamaño de fuente en versiones móviles */
      margin: 25px 25px; /* Añade un margen horizontal en versiones móviles */
    }
   
  }

}

